body {
  background:#5888b9;
  margin:0;
  padding:0;
  height:100vh;
  display:grid;
  align-items:center;
  justify-items: center;
}

img{
	height: 680px;
	width:1220px;
	position: absolute;
	left: 510px;
	top: 300px;

}

p {
  font-size:40px;
  font-family: Futura;
  color: white;  
}

#paragraph{
  position: absolute;
  top: 900px;
  left: 500px;
}

/*body {
  color: white;
  font-family: Krungthep, sans-serif;
  background-image: url("./images/l.png");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position: right,left top;
  
  
}

body.colorful {
  background: linear-gradient;
  background-size: 100% 500%;
  animation: rainbow 30s ease infinite;
}

@keyframes rainbow { 
  0%{background-position:0% 0%}
  50%{background-position:50% 50%}
  100%{background-position:100% 0%}
}*/