body{
	background-color: black;
	
	/*background-image: url("./images/l.png");
	background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: right,left top;*/
}

p {
  font-size:15px;
  font-family: Futura;
  color: white;  
}
#phone{
	position: absolute;
	bottom: 170px;
	left: 940px;
}

#dvd{
	position: absolute;
	bottom: 175px;
	left: 1225px;
}

#television{
	position: absolute;
	top: 270px;
	left: 1130px;
}
#monitor{
	position: absolute;
	top: 270px;
	left: 880px;
}
#washing{
	position: absolute;
	top: 270px;
	left: 430px;
}
#fridge{
	position: absolute;
	top: 570px;
	left: 455px;
}

#paragraph{
	position: absolute;
	top: 900px;
	left: 460px;
}

#paragraph1{
	position: absolute;
	top: 550px;
	left: 1550px;
	font-size: 128PX;
}


/*body.landscapeanimation {
  background: linear-gradient;
  background-size: 100% 500%;
  animation: motion 30s ease infinite;
}

@keyframes motion { 
  0%{background-position:0% 0%}
  50%{background-position:50% 50%}
  100%{background-position:100% 0%}
}*/