body{
	background-color: black;
	font-size:48px;
    font-family: Futura;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

a:hover{
	color: red;	
}
#question{
   animation: change 3s alternate;
}

@keyframes change {
  0%{
    transform: scale(1);
  }

  50%{
  	transform: scale(2);
  }

  100%{
    transform: scale(1);
  }

	